#footer{
     display: block;
     margin-top:20px;
    }

.img-logo{
    width:300px; 
    margin-top: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-right: 10px;}

.googlemaps{
    width:500px;
    height:300px;
    text-align:right;
}

.vinculo{
   color: #757a7a !important;
   text-align: center;  
}

.licencia{
    color: #757a7a !important;
    text-align: center;  
 }

