*{
  Margin: 0;
  Padding; 0;
  Box-sizing-border:0;
}

.cabecero1 {
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 0.5fr;
  gap: 1px 1px;
  grid-template-areas: "subcabecero1 subcabecero1 subcabecero1";
  grid-area: cabecero1;
  background-image: linear-gradient(to right top, #3b3e41, #626366, #8b8b8d, #b5b6b7, #e2e2e2);
}

.subcabecero1 { grid-area: subcabecero1;
  }
  
/* REDES SOCIALES */
  .redes{
    text-align: right;
    margin-right: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  a{
    color: ivory;
  }

/* LOGO HEAD */  
.img1{
  grid-row: initial;
  margin-left: 200px;
  margin-top: 15px;
 height: 100px;
  }

/* MENU IMAGEN */
  .menu-img{
    display: flex;
    align-items: flex-end;
    justify-content: end;
  }

  .menu
  /*  CSS para navcenter */

.navcenter{    
  flex-direction: row;
  display: flex;
  }

  .iimg{
    width: 60%;
  }

  .menu1{
    width: 50%;
    margin-top: 20px;
  }

#menucenter,
#menucenter ul,
#menucenter li,
#menucenter a {
  border: none;
  line-height: 1;
  margin-left: 0;
  padding: 0;
}
/* MENU*/
#menucenter {
  height: 40px;
  /*display: inline-flex;*/
  border: 1px solid;
  border-radius: 9px;
  width: auto;
  border-color: #080808;
}
#menucenter > ul {
  list-style: inside none;
  margin: 0;
  padding: 0;
}
#menucenter > ul > li {
  list-style: inside none;
  float: left;
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0;
}
#menucenter.align-center > ul {
  text-align: center;
}
#menucenter.align-center > ul > li {
  float: none;
  margin-left: -3px;
}
#menucenter.align-center ul ul {
  text-align: left;
}
#menucenter.align-center > ul > li:first-child > a {
  border-radius: 0;
}
#menucenter > ul > li > a {
  outline: none;
  display: block;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.4);
  font-weight: 700;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  border-right: 1px solid #080808;
  color: #ffffff;
  padding: 12px 20px;
}
#menucenter > ul > li:first-child > a {
  border-radius: 5px 0 0 5px;
}
#menucenter > ul > li > a:after {
  content: "";
  position: absolute;
  border-right: 1px solid;
  top: -1px;
  bottom: -1px;
  right: -2px;
  z-index: 99;
  border-color: #3c3c3c;
}
#menucenter ul li.has-sub:hover > a:after {
  top: 0;
  bottom: 0;
}
#menucenter > ul > li.has-sub > a:before {
  content: "";
  position: absolute;
  top: 18px;
  right: 6px;
  border: 5px solid transparent;
  border-top: 5px solid #ffffff;
}
#menucenter > ul > li.has-sub:hover > a:before {
  top: 19px;
}
#menucenter > ul > li.has-sub:hover > a {
  padding-bottom: 14px;
  z-index: 999;
  border-color: #3f3f3f;
}
#menucenter ul li.has-sub:hover > ul,
#menucenter ul li.has-sub:hover > div {
  display: block;
}
#menucenter > ul > li.has-sub > a:hover,
#menucenter > ul > li.has-sub:hover > a {
  background: #3f3f3f;
  border-color: #3f3f3f;
}
#menucenter ul li > ul,
#menucenter ul li > div {
  display: none;
  width: auto;
  position: absolute;
  top: 38px;
  background: #3f3f3f;
  border-radius: 0 0 5px 5px;
  z-index: 999;
  padding: 10px 0;
}
#menucenter ul li > ul {
  width: 200px;
}
#menucenter ul ul ul {
  position: absolute;
}
#menucenter ul ul li:hover > ul {
  left: 100%;
  top: -10px;
  border-radius: 5px;
}
#menucenter ul li > ul li {
  display: block;
  list-style: inside none;
  position: relative;
  margin: 0;
  padding: 0;
}
#menucenter ul li > ul li a {
  outline: none;
  display: block;
  position: relative;
  font: 10pt Arial, Helvetica, sans-serif;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 8px 20px;
}
#menucenter,
#menucenter ul ul > li:hover > a,
#menucenter ul ul li a:hover {
  background: #3c3c3c;
  background: -moz-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3c3c3c), color-stop(100%, #222222));
  background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -o-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: -ms-linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
}
#menucenter > ul > li > a:hover {
  background: #080808;
  color: #ffffff;
}
#menucenter ul ul a:hover {
  color: #ffffff;
}
#menucenter > ul > li.has-sub > a:hover:before {
  border-top: 5px solid #ffffff;
}




